@import 'common/variables.scss';
.zv-list {
  overflow: scroll;
}

.no-more-data {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $sub-font-color;
    fill: $sub-font-color;
  }
  &__icon {
    width: 80px;
    height: 80px;
  }
}
