@import './common/variables.scss';
@import './common/mixin.scss';

.zv-display {
  padding: 8px 0;

  &.default {
    width: $input-width;
  }

  &__title {
    height: 36px;
    line-height: 36px;
    font-size: $base-font-size;
    color: $sub-font-color;
    padding: 0 8px;
  }

  &__content {
    background-color: $mainBg;
    border-radius: 4px;
    font-size: $base-font-size;
    color: $base-font-color;
    line-height: 24px;
    padding: 4px 8px;
    cursor: not-allowed;
  }
}