@import 'common/variables.scss';
@import 'common/mixin.scss';
.zv-textarea {
  background-color: white;
  position: relative;
  &__header {
    box-sizing: border-box;
    @include flex($justifyContent: space-between);
    height: 44px;
    margin: 0 16px;
    &-label {
      font-size: 14px;
      color: $base-font-color;
    }
    .van-icon {
      color: $baseColor;
    }
  }
  &__tip {
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 10px;
    color: #8b8b8b;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
