.zv-screen {
  width: 300px;
  height: 100%;

  background-color: white;
  &__wrapper {
    padding-top: 16px;
    height: 100%;
    position: relative;
  }
  &__item {
    margin-top: 4px;
    padding: 0 16px;
    position: relative;
    &:not(:last-child)::after {
      right: 0;
      left: 0;
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      bottom: -4px;
      border-bottom: 1px solid #eeeeee;
      transform: scaleY(0.5);
    }
  }
  &__item-title {
    height: 44px;
    width: 100%;
    color: #212121;
    line-height: 44px;
    font-size: 14px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__btn {
    margin-right: 10px;
    height: 44px;
    display: flex;
    align-self: center;
    justify-content: center;
    .zv-screen__span {
      height: 28px;
      line-height: 28px;
      padding: 0 14px;
      display: block;
      background-color: #f3f3f3;
      color: #8b8b8b;
      font-size: 12px;
    }
    .zv-screen--active {
      background-color: #f0f8e7;
      color: #70b913;
    }
  }
  &__footer {
    position: absolute;
    bottom: 20px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    > * {
      margin-left: 8px;
    }
  }
}
