@import './common/variables.scss';
@import './common/mixin.scss';

.zv-select-label {
  .zv-select--row {
    @include containerH44();
    @include flex();

    .zv-select__title {
      margin: 0;
      padding-left: 16px;
      color: $base-font-color;
    }

    .el-input__inner {
      border-width: 0;
      // width: 270px;
      flex: 1;
      text-align: right;
    }

    .el-select .el-input.is-focus .el-input__inner {
      border-width: 0;
    }

    .zv-select-time {
      border-width: 0;
      // width: 300px;
      line-height: 36px;
    }

    // 肖景   2019/4/2
    .el-select--medium {
      flex: 1;
    }

    .el-select>.el-input {
      display: flex;
    }

    .zv-select-default {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .el-select {
    width: 100%;
    .el-input {
      width: 100%;
    }
  }
  .zv-select--require:before {
    content: '*';
    color: $warning-color;
    margin-right: 2px;
  }
}
.zv-select-label.default {
  box-sizing: border-box;
  width: 280px;
}

.zv-select-label.super {
  box-sizing: border-box;
  width: 100%;
}

.zv-select-label[timeType='monthrange'],
.zv-select-label[timeType='datetimerange'],
.zv-select-label[timeType='daterange'] {
  box-sizing: border-box;
  width: 400px;
  .zv-select-time--daterange {
    box-sizing: border-box;
  }
}

.zv-select-end {
  justify-content: flex-end;
}

.zv-select .zv-select-default .el-input--medium .el-input__icon {
  line-height: 32px;
}