@import './common/variables.scss';
@import './common/mixin.scss';

.zv-select-time {
  @include flex();
  @include inputBorder();
  margin: 6px 0;
  width: 280px;
  border-radius: 4px;
  height: 32px;
  font-size: $base-font-size;
  padding-right: 5px;

  &-icon {
    line-height: 32px;
    height: 32px;
    color: #c0c4cc;
  }
}

.zv-select-time.is-disabled {
  background: #f5f7fa;
}

.zv-select-time--daterange {
  width: 400px;
}

.zv-select-time_cursor {
  cursor: pointer;
}

.zv-select-time {
  .el-input__inner {
    height: 32px;
    border-width: 0;
    padding-left: 15px;
    padding-right: 0;
    background: transparent;
  }

  .el-date-editor {
    width: calc(100% - 25px);
    line-height: 32px;

    .el-range-input {
      color: $sub-font-color;
    }
  }

  .el-range-editor.is-disabled input {
    height: 30px;
    background: transparent;
  }
}

.el-month-table td.today .cell {
  color: $sub-font-color;
}

.zv-select-time--daterange {
  .el-range-input {
    width: calc(100% - 25px);
  }

  .el-range-separator {
    width: 16px;
    padding: 0;
    line-height: 28px;
  }
}

.zv-select-time .el-input__prefix,
.zv-select-time .el-input__suffix {
  height: 32px;
  line-height: 32px;
}