@import './common/variables.scss';
@import './common/mixin.scss';

.zv-sub-title {
  @include containerH44();
  span {
    border-left: 4px solid $base-color;
    padding-left: 12px;
    display: block;
    line-height: 1;
  }
}