@import './common/variables.scss';
@import './common/mixin.scss';

.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
}

.el-upload-list--picture-card {
  .el-upload-list__item {
    border: 0;
    height: 100px;
    width: 100px;
    margin-right: 24px;
  }

  .el-upload-list__item-actions {
    height: 100px;
  }
  
  /deep/ .el-progress {
    width: 100% !important;
    height: 100% !important;
  }

  /deep/ .el-progress-circle {
    width: 100% !important;
    height: 100% !important;
  }
}

.zv-upload {
  &-title {
    @include containerH44();
    font-size: 14px;
    padding-left: 8px;
    color: #212121;

    span {
      font-size: 12px;
      color: #8b8b8b;
    }
  }

  .zv-upload__tip {
    width: 100px;
    text-align: center;
    font-size: 14px;
    color: #8b8b8b;
    margin-top: 10px;
  }

  &-list {
    height: 100%;
    width: 100%;

    &__item-thumbnail {
      height: 100px !important;
    }
  }

  .zv-upload-name {
    font-size: 14px;
    color: #8b8b8b;
    width: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .green {
    color: $base-color;
    margin-left: 8px;
    font-style: normal;
    cursor: pointer;
  }
}