// themeBg
$base-color: #70b913 !default;
$mainBg: #f5f5f5 !default;
$hoverBg: #f5f7fa !default;

// font
$super-font-size: 16px !default;
$base-font-size: 14px !default;
$sub-font-size: 12px !default;

$base-font-color: #212121 !default;
$sub-font-color: #8b8b8b !default;
$border-color: #e0e0e0 !default;
$background-color: #eeeeee !default;
$warning-color: #e53935 !default;
$primary-color: #1890ff !default;
$over-color: #faad14 !default;

// 输入框的宽度设定
$input-width: 280px !default;

// 动态表格的宽度
$dymanic-form-item: 33.3333% !default;

// 弹窗情况动态表格的宽度
$dialog-dymanic-form-item: 50% !default;

