// themeBg
$base-color: #7cb342;
$mainBg: #f5f5f5;
$hoverBg: #f5f7fa;

// font
$base-font-size: 14px;
$sub-font-size: 12px;

$base-font-color: #212121;
$sub-font-color: #8b8b8b;
$border-color: #e0e0e0;
$background-color: #eeeeee;
$warning-color: #e53935;

